@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin-left: 15% important!;
    margin-right: 15% important!;
}

.top {
    background-color: #F5F5F5;
    height: 65px;
    opacity: 1;
    display: flex;
}

.pay-online {
    text-align: left;
    font: normal normal 600 22px/30px Open Sans;
    letter-spacing: 0px;
    color: #29272C;
    opacity: 1;
}

.logo-box {
    margin-left: 10%;
    margin-right: 10%;
    height: 150px;
    display: flexbox;
}

.prob {
    background: #75C043 0% 0% no-repeat padding-box;
    box-shadow: -1px 4px 6px #00000029;
    border: 4px solid #FFFFFF;
    border-radius: 13px 0px 0px 13px;
    opacity: 1;
    height: 110px;
    color: white;
    font-size: 25px;
}

.navbox {
    color: #FFFFFF;
    background-color: #A20908;
    font: Open Sans;
    font-weight: bold;
    font-size: 20px;
}

.banner-text {
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 0.5;
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 145px;
    margin-top: -511px;
    font-weight: normal;
    font-size: 60px;
    padding: 5px 2px 2px 90px;
}

.banner-text p {
    font-size: 40px;
}

.month {
    font-size: 20px;
    margin-top: 0px;
    margin-left: 90px;
}

.today {
    background: #A20908 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 3;
}

.circle {
    margin-top: 80px;
}

.estimate {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 27px #0000001C;
    border-radius: 10px;
    opacity: 1;
    margin-top: 0px;
    padding: 20px;
}

.servise {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 27px #0000001C;
    border-radius: 10px;
    opacity: 1;
    height: 200px;
    padding: 20px 20px 20px;
    text-align: left;
    font: normal normal bold 22px/30px Open Sans;
    letter-spacing: 0px;
    color: #29272C;
    opacity: 1;
}